<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    
    <add name="DatabaseConnectionString" connectionString="Data Source=(localdb)MSSQLLocalDB;Initial Catalog=p8g10RedeComboios;Integrated Security=True; Encrypt=False;" providerName="System.Data.SQLClient" />
  
  </connectionStrings>  

  
</configuration>